<div class="employee-list">
  <div class="employee-add">
    <app-add-employee-form [employees]='employees' (addEmployee)='onAddEmployee($event)'></app-add-employee-form>
  </div>
  <table>
    <tr>
      <th *ngFor="let field of fields">
        {{field}}
      </th>
    </tr>
    <app-employee
      *ngFor="let employee of employees"
      (deleteEmployee)='onDeleteEmployee($event)'
      (editEmployee)='onEditEmployee($event)'
      (showModal)='onShowModal($event)'
      [data]='employee'
    >
    </app-employee>
  </table>
</div>
