.post-add-form {
    display: flex;
    min-width: 600px;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}

.post-field {
    margin: 10px 0;
}

.post-add-btn {
    margin-top: 20px;
}

@media screen and (max-width: 320px) {
    .post-add-form {
        min-width: 95%;
    }
}
