td {
  min-width: 150px;
  padding: 15px 0px 15px 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:first-of-type {
  min-width: 20px;
}

.employee-item {
  display: flex;
  flex-direction: column;
}

.employee-data {
  display: flex;
}

.employee-actions {
  display: flex;
  min-width: 60px;
  padding: 0;
}

.action-icon {
  margin-left: 10px;
}

.delete-icon {
   color: #be0000;
 }

@media screen and (min-width: 720px) {
  .employee-item {
    flex-direction: row;
  }
}
